.sp-noibat{
margin:10px;

}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*táº¥t cáº£ ná»™i dung chÆ°as bÃªn trong Ä‘á»�u trong cá»¥c Ä‘Ã³ */
}
body{
    color: #333333;
    font-family: 'Roboto', sans-serif;

}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1170px;
    margin: 0 auto;
    float: none;
}
.header{
    background-color: #b29c6e;
    padding: 10px 0 0 0;

}
.hearder-right input{
    padding: 10px 0 10px 0;
}
.header p{
    color: white;
    line-height: 2.5;
}
.header-right{


}
.header-right p{
    text-align: right;
}
.logo{
    padding: 30px 0;
}
.menu{
    border: none;
    border-right: 1px solid #e7e7e7;


}
.a-menu{
    border-left: 1px solid #e7e7e7;
    padding: 10px 30px 0 10px;


}

.a-menu label{

}

.a-menu a{
    color: #72726a;
    text-decoration: none;
    font-weight: normal;
    transition: all 0.3s;
}


.a-menu p{
    font-size: 14px;
    line-height: 2.5;

}
.a-menu a:hover{
    color: #333333;
    text-decoration: underline;
    text-decoration-color: #b29c6e;
    font-weight: bold;
}

.footer{

}
.bg-footer-up{
    width: 100%;
    background-color: #e1ded9;

}
.footer-up{
    padding: 30px 0 10px 0;

}
.footer-up a{
    color: #54544b;
    text-decoration: none;
    transition: all 0.3s;
}
.footer-up a:hover{
    color: #333333;
    text-decoration: underline;
    text-decoration-color: #b29c6e;
}
.footer-up li{
    font-size: 12px;
    line-height: 2;

}
.face-book{
    text-align: center;
}
.ket-noi{
    text-align: center;
}
.social-icon a{
    font-size: 26px;
}
.bg-footer-down{
    background-color: #a5a3a3;


}
.footer-down{
    text-align: center;
    padding-top: 15px;

 }
.footer-down p{
    color: white;
 }


